.floating{
    position: fixed; 
    bottom: 20px;
    right: 20px;
    background-color: #40BAD4;
    color: #fff;
    padding: 10px 20px;
    border-radius: 50%;
    font-size:20px;
    cursor: pointer;
}
.floating:hover{
    background-color: #142d55;
    color: white;
    transition: all 0.3s ease-in-out;
}

.animatedImage{
    animation: animateLogo 2.5s ;
    animation-fill-mode: forwards;
}
@keyframes animateLogo {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.trans{
    background: rgba(255,255,255,0.4);
    border: none;
    outline: none;
    height: 30p;
    color: #333;
    -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
    box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
    font-size: 30px;
  }
  ::-webkit-input-placeholder { color: #666;} 
  :-moz-placeholder { color: #666; }
  ::-moz-placeholder { color: #666; }
  :-ms-input-placeholder { color: #666; }