.form,.form-group{
    display:flex;
    flex-direction:column;
    padding:5px;
    width:100%;
}
.form{
    height:450px;
    overflow: auto;
}
.form::-webkit-scrollbar {
    width: 5px; /* width of the scrollbar */
  }
 .form::-webkit-scrollbar-track {
    background: #00c0df;; /* color of the track */
  }
  .form::-webkit-scrollbar-thumb {
    background: #0013df;/* color of the scrollbar handle */
  }
.submit{
    color:rgb(249, 248, 248);
    border-radius:10px;
    background-color:#0013df !important;
}
@media(max-width:999px){
    .form{
        opacity:0;
        transform:translateY(-20px);
        animation:transdown 0.5s ease-in-out 2.3s forwards;
    }
    @keyframes transdown {
        0%{
            opacity: 0;
            transform: translateY(-20px);
        }
        100%{
            opacity: 1;
            transform:translateY(0px);
        }
    }
}
.form-group input{
    border-radius:10px;
}
.form-group textarea{
    border-radius:7px 7px 0px 7px;
    padding:3px;
}
.form-group input[type=file]{
    border:2px solid rgb(69, 69, 69);
}

.form-group input:focus{
    box-shadow: 2px 2px 3px rgb(23, 5, 5);
    border-width:2px;
    border-style:solid;
}
.form-group textarea:focus{
    box-shadow: 2px 2px 3px rgb(23, 5, 5);
    border-width:2px;
    border-style:solid;
}