.exams-item-btn{
    position: absolute;
    margin-top:-60px;
    margin-left:30px;
    font-weight:bold;
    background: black;
    opacity: 70%;
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    font-size:16px;
    padding:5px;
}

.exams-item-btn:hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.9), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.9), .125rem .125rem 1rem rgba(255, 154, 90, 0.9);
  }