
  
  .container {
    text-align: center;
    margin-top: 50px;
  }
  
  .container img {
    width: 200px; /* Adjust image width as needed */
    height: auto; /* Maintain aspect ratio */
    display: block;
    margin: 0 auto 20px; /* Center image */
  }
  
  .not-found-text {
    font-size: 24px; /* Adjust font size as needed */
    color: #333; /* Text color */
  }
  