.quest-color{
    color:gray;
    font-size:18px;
}
.faq-section{
    margin:30px 10px 30px -40px;
    width:100%;
}
.faq-part{
    width:80%;
}
@media(min-width:1000px){
    .faq-section{
        margin:30px 20px 30px -40px;
        width:100%;
        display:flex;
        justify-content:space-evenly;
    }
    .faq-part{
        width:100%;
    }
}
