.widget{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);  
    height: 100px;
    margin:5px;
    width:250px;
}
.left,.right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.widgets-container{
    display:flex;
    flex-wrap: wrap;
    margin:19px;
    width:90vw;
    justify-content: space-around;
}