.aco{
    width: 100%;
    overflow: scroll; 
    scroll-behavior: smooth;
    display:flex;
    flex-direction:row;
    align-items:center;
    left:5px;
    margin-top:30px;
    margin-bottom:20px;
}
.aco::-webkit-scrollbar{
    width:0px;
}
.controls{
    width:100vw;
    display:flex;
    justify-content: space-between;
    z-index:10;
    padding:20px;
    margin-top:-200px;
}
.control-style{
    transform: translateY(-50%);
    cursor: pointer;
    color:rgb(18, 17, 17);
    font-size: 20px;
    background-color:#ffffff;
    width:30px;
    height:30px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display:flex;
    align-items:center;
    justify-content: center;
    
}
@media(min-width:500px){
    .control-style{
       width:50px;
       height:50px;
       border-radius:25px;
       font-size:25px;
    }
}

.right-arrow{
    background-color: rgb(232, 232, 198);
    color:black;
    height:55px;
    width:55px;
    border-radius:28px;
    font-size:35px;
    padding-left:12px;
    margin-left:auto;
    right:5px;
}
.right{
    width:100vw;
    }
  