.shadow{
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
}
.card-animations{
    animation : top 0.5s linear;
}

@keyframes top {
    0%{
        top:0%;
        transform:translate(0%, -50%) scale(0.5);
      }
      100%{
        top:50%;
        transform: translate(0%, 0%) scale(1);
      }
}