

.stats{
    width: 100vw;
    height:300px;
    overflow: scroll; 
    scroll-behavior: smooth;
    display:flex;
    flex-direction:row;
    align-items:center;
    left:5px;
}
.stats::-webkit-scrollbar{
    width:0px;
}
.stats-item{
    text-align:center;
    padding:10px;
    min-width:260px;
    max-width:260px;
    padding:30px 50px 20px 20px;
   }

.image{
    width:60px;
    height:60px;
}
.heading{
   font-size:20px;
   font-weight:bold;
}
.para{
    width:100%;
}
@media(min-width:600px){
    .stats-item{
        min-width:350px;
        max-width:350px;
    }
    .heading{
        font-size:30px;
    }
    .para{
        font-size:20px;
    }
}
@media(min-width:800px){
.stats{
    justify-content: space-evenly;
}
}
.services-item-btn{
   position:relative;
   margin-top:-140px;
}
.align-center{
    width:100%;
    display:flex;
    justify-content: center;
}
.custom-prev-arrow {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1; /* Ensure it's above the slides */
  }
  
  .custom-next-arrow {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 1; /* Ensure it's above the slides */
  }
  .custom-next-arrow,.custom-prev-arrow{
    cursor: pointer;
      color:rgb(18, 17, 17);
      font-size: 20px;
      background-color:#ffffff;
      width:30px;
      height:30px;
      border-radius: 15px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      display:flex;
      align-items:center;
      justify-content: center;
  }
  @media(min-width:1000px){
    .custom-next-arrow,.custom-prev-arrow{
      display:none;
    }
  }