@tailwind base;
@tailwind components;
@tailwind utilities;

.font {
  font-family: "Salsa", cursive;
}

/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, Helvetica, "sans-serif";
} */

/* body {
  background-color: #f8f7fb;
} */

.card {
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  background-color: #fff;
  /* padding: 20px 25px; */
  border-radius: 10px;
  /* min-width: 550px; */
  /* min-height: 600px; */
}

.card-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
}

.card-header img {
  width: 30%;
  margin-bottom: 40px;
}

.header-text {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0.75rem;
}

.header-subtext {
  color: #a1a5b7;
  font-size: 1.15rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.verification-number {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0.75rem;
}

.otp-conatiner {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: left;
  align-items: center;
  margin-bottom: 1rem;
}

.otp-subtext {
  font-size: 0.775rem;
}

.otp-inputs {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  padding: 20px 0;
}

.otp-input {
  font-size: 2.25rem;
  text-align: center;
  height: 60px;
  width: 60px;
  border: solid rgb(50, 46, 46) 1px;

}

.submit-btn {
  background-color: #374151;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  border-radius: 0.625rem;
}

.otp-resend {
  color: #a1a5b7;
  font-size: 0.9rem;
  font-weight: 500;
  text-align: center;
}
